body {
    background-image: url(./img/marek-pavlik-91Ld2-hZw5I-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#principal,
#formulario,
#proyectos{
    background-color: blueviolet;
    color: white;
    box-shadow: 10px 10px 15px black
}
header{
    display: flex;
    justify-content: center;
}

#titulo{
    color: white;
    background-color: blueviolet;
    width: 500px;
    height: 60px;
    text-align: center;
    text-decoration: underline;
    box-shadow: 10px 10px 15px black
}
#habilidadesStyle{
    display: inline;
    border: 2px solid white;
    border-radius: 10px;
    width: auto;
    padding: 5px;
}
#imgproyectos,
#imgformulario{
    max-height: 300px;
}
/* foto de perfil */
#mifoto {
    max-height: 300px;
}
#mifoto2 {
    max-height: 300px;
}
.quitar{
    display: none;
}
#textoform{
    text-decoration: none;
}
#tlf,
#ig,
#linkedin,
#form,
#btnproject,
#btnhabilidades{
    font-size: 18px;
    color: white;
    min-width: 130px;
}
